<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGcTGP6o0N5uXR9zcNi33NtsngkmMbusk</string>
	<key>GCM_SENDER_ID</key>
	<string>923268469751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fragomen.fesproject</string>
	<key>PROJECT_ID</key>
	<string>fragomen-fes</string>
	<key>STORAGE_BUCKET</key>
	<string>fragomen-fes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923268469751:ios:3c45de2ff6d086d315d4f2</string>
</dict>
</plist>